* {
	box-sizing: border-box;
}

body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	font-family: sans-serif;
	color: #333;
	position: relative;
}


a {
	color: #92A8D1;
	text-decoration: none;
	border-bottom: 1px dotted;
}

a:hover {
	color: #ff7a28;
}

div.wrapper {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-top: -25px; //adjust eye level
}

h1#logo {
	text-indent: -9999px;
	background-image: url(../images/logo.png);
	background-size: 100%;
	width: 65px;
	height: 65px;
	margin: 0 auto;
	float: left;
}

nav.main {
	text-align: center;
	margin-top: 20px;
}
nav.main ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff892a+0,ff1d1a+100 */
	background: #ff1d1a; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff892a 0%, #ff1d1a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ff892a 0%,#ff1d1a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ff892a 0%,#ff1d1a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff892a', endColorstr='#ff1d1a',GradientType=0 ); /* IE6-9 */
}

nav.main ul li {
	display: inline-block;
	padding: 0 5px;
	float: left;

}


footer.main {
	position: absolute;
	background:#111!important;
	width: 100%;
	text-align: center;
	bottom: 10px;
}

footer.main p {
	margin: 0;
	padding: 0;
	color: #ccc;
	font-weight: 300;
}

footer.main p a {
	color: #ccc;
}

footer.main li {
	list-style-type: none;
	float: left;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ff1d1a;
		color: white;

}



button {
	background: transparent;
color: #59569E;
border: 2px solid #ebebf2;
border-radius: 0 6px 6px 0;
height: 46px;
padding: 10px 16px;
font-size: 18px;
line-height: 1.33;
}

email {
	border-radius: 6px 0 0 6px;
	height: 46px;
	float:right!important;

}
